:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    nav {
        height: 56px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 16px 0 16px;
    }

    .home-icon {
        margin: 0 8px 0 0;
    }

    .spacer {
        flex-grow: 1;
    }
}
