<nav class="mat-elevation-z6">
  <a mat-button routerLink="/">
    <i class="material-icons home-icon">find_in_page</i>{{title}}</a>
  <a mat-button routerLink="/documents">Documents</a>
  <span class="spacer"></span>
  <mat-button-toggle [checked]="searchSelected" (change)="searchToggled()">
    <mat-icon>search</mat-icon>
  </mat-button-toggle>
  <app-upload></app-upload>
</nav>