<table mat-table [dataSource]="documents">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let document">
      {{document.title}}
    </td>
  </ng-container>

  <ng-container matColumnDef="createdTimestamp">
    <th mat-header-cell *matHeaderCellDef>Created At</th>
    <td mat-cell *matCellDef="let document">
      {{formatTimestamp(document.createdTimestamp)}}
    </td>
  </ng-container>

  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
    <td mat-cell *matCellDef="let document">
      <img class="thumbnail" [src]="document.thumbnailUrl">
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let document">
      <button mat-mini-fab color="secondary" (click)="openEditDialog(document)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
</table>