@mixin search-bar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    app-search-bar {
        color: mat-color($primary, darker-contrast);
        background: mat-color($primary, lighter-contrast);
    }
}