:host {
    nav {
        height: 56px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 16px 0 16px;
    }

    .full-width {
        flex-grow: 1;
    }
}
