<div class="form-container">
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput name="title" placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="createdTimestamp" placeholder="Created at" formControlName="createdTimestamp" [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </mat-form-field>
    </form>
</div>