<app-navbar title="No More Paper" (searchChange)="onSearchChange($event)"></app-navbar>
<ng-container *ngIf="showSearch">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
</ng-container>
<router-outlet></router-outlet>