@import '~@angular/material/theming';

@import './app/layout/navbar/navbar.theme';
@import './app/layout/search-bar/search-bar.theme';

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  @include navbar-theme($theme);
  @include search-bar-theme($theme);
}