@import '~@angular/material/theming';
@import './app.theme';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-amber);
$warn:    mat-palette($mat-deep-orange);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include app-theme($theme);
