<h2 mat-dialog-title>
    Update Details</h2>
<mat-dialog-content>
    <app-edit-document-metadata
        [documentMetadata]="documentMetadata"
        (documentMetadataChanged)="documentMetadataChanged($event)">
    </app-edit-document-metadata>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">No</button>
    <button mat-button (click)="onSubmit()">Yes</button>
</mat-dialog-actions>