<div class="card-group">
  <div *ngFor="let document of documents">
    <mat-card class="document-card">
      <mat-card-header>
        <mat-card-title>{{document.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="document.thumbnailUrl">
    </mat-card>
  </div>
</div>